
<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Home">
  <ion-content class="padding">
	<div class="list">
  	<label class="item item-input">
    	<input type="text" placeholder="Enter your location">
  	</label>
  	<label class="item item-input">
			<input type="text" placeholder="Where are you headed">
  	</label>
	</div>	
	<div>
		<button class="button button-block button-positive">
  		Get cost	
		</button>
	</div>
	<div class="padding-top">		
		
	</div>
		<div class="card">
			<div class="item item-text-wrap">
				
			</div>
		</div>
  </ion-content>
</ion-view>
