
<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Home">
  <ion-content class="padding">
	<div class="list">
	  	<label class="item item-input">
	  		<ion-google-place placeholder="Pickup address" ng-model="pickup" />
	  	</label>
	  	<label class="item item-input">
	  		<ion-google-place placeholder="Drop location" ng-model="drop" />
	  	</label>
	</div>
	<button class="button button-block button-positive">
		Find fare estimate
	</button>
	<div style="margin-top:2em;"></div>

			<div class="item item-text-wrap">
				<h2><strong style="color:#44B449;">&#x20b9; 215.33 *</strong></h2>
			</div>
  </ion-content>
</ion-view>
